/* NOTO SANS SYMBOLS 2 */
@font-face {
    font-family: "NotoSansSymbols2-Regular";
    src: url('../ttf/NotoSansSymbols2-Regular.ttf') format('truetype');
}

/* ALEGREYA */
@font-face {
    font-family: 'Alegreya Variations';
    src: url("../ttf/Alegreya/Alegreya-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 400 900;
}

@font-face {
    font-family: 'Alegreya Variations';
    src: url("../ttf/Alegreya/Alegreya-Italic-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 400 900;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya SC Web';
    font-display: swap;
    font-weight: 400;
    src: url("../woff2/Alegreya/AlegreyaSC-Regular.woff2") format('woff2'),
         url("../ttf/Alegreya/AlegreyaSC-Regular.ttf") format('truetype'),
         url("../woff/AlegreyaSC-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Alegreya SC Web';
    font-display: swap;
    font-weight: 400;
    font-style: italic;
    src: url("../woff2/Alegreya/AlegreyaSC-Italic.woff2") format('woff2'),
         url("../ttf/Alegreya/AlegreyaSC-Italic.ttf") format('truetype'),
         url("../woff/AlegreyaSC-Italic.woff") format('woff');
}


@font-face {
    font-family: 'Alegreya SC Web';
    font-display: swap;
    font-weight: 500;
    font-style: normal;
    src: url("../woff2/Alegreya/AlegreyaSC-Medium.woff2") format('woff2'),
         url("../ttf/Alegreya/AlegreyaSC-Medium.ttf") format('truetype'),
         url("../woff/AlegreyaSC-Medium.woff") format('woff');
}

@font-face {
    font-family: 'Alegreya SC Web';
    font-display: swap;
    font-weight: 500;
    font-style: italic;
    src: url("../woff2/Alegreya/AlegreyaSC-MediumItalic.woff2") format('woff2'),
         url("../ttf/Alegreya/AlegreyaSC-MediumItalic.ttf") format('truetype'),
         url("../woff/AlegreyaSC-MediumItalic.woff") format('woff');
}

@font-face {
    font-family: 'Alegreya SC Web';
    font-display: swap;
    font-weight: 700;
    src: url("../woff2/Alegreya/AlegreyaSC-Bold.woff2") format('woff2'),
         url("../ttf/Alegreya/AlegreyaSC-Bold.ttf") format('truetype'),
         url("../woff/AlegreyaSC-Bold.woff") format('woff');
}

@font-face {
    font-family: 'Alegreya SC Web';
    font-display: swap;
    font-weight: 700;
    font-style: italic;
    src: url("../woff2/Alegreya/AlegreyaSC-BoldItalic.woff2") format('woff2'),
         url("../ttf/Alegreya/AlegreyaSC-BoldItalic.ttf") format('truetype'),
         url("../woff/AlegreyaSC-BoldItalic.woff") format('woff');
}


@font-face {
    font-family: 'Alegreya SC Web';
    font-display: swap;
    font-weight: 800;
    src: url("../woff2/Alegreya/AlegreyaSC-ExtraBold.woff2") format('woff2'),
         url("../ttf/Alegreya/AlegreyaSC-ExtraBold.ttf") format('truetype'),
         url("../woff/AlegreyaSC-ExtraBold.woff") format('woff');
}

@font-face {
    font-family: 'Alegreya SC Web';
    font-display: swap;
    font-weight: 800;
    font-style: italic;
    src: url("../woff2/Alegreya/AlegreyaSC-ExtraBoldItalic.woff2") format('woff2'),
         url("../ttf/Alegreya/AlegreyaSC-ExtraBoldItalic.ttf") format('truetype'),
         url("../woff/AlegreyaSC-ExtraBoldItalic.woff") format('woff');
}


@font-face {
    font-family: 'Alegreya SC Web';
    font-display: swap;
    font-weight: 900;
    src: url("../woff2/Alegreya/AlegreyaSC-Black.woff2") format('woff2'),
         url("../ttf/Alegreya/AlegreyaSC-Black.ttf") format('truetype'),
         url("../woff/AlegreyaSC-Black.woff") format('woff');
}

@font-face {
    font-family: 'Alegreya SC Web';
    font-display: swap;
    font-weight: 900;
    font-style: italic;
    src: url("../woff2/Alegreya/AlegreyaSC-BlackItalic.woff2") format('woff2'),
         url("../ttf/Alegreya/AlegreyaSC-BlackItalic.ttf") format('truetype'),
         url("../woff/AlegreyaSC-BlackItalic.woff") format('woff');
}

/* IOSEVKA */


@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-thin.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: expanded;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedthin.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedthin.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-thinoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-thinoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-thinoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-thinoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: expanded;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedthinoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedthinoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 100;
    font-stretch: expanded;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedthinoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedthinoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-thinitalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-thinitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: expanded;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedthinitalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedthinitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extralight.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extralight.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: expanded;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedextralight.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedextralight.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extralightoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extralightoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extralightoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extralightoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: expanded;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedextralightoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedextralightoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 200;
    font-stretch: expanded;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedextralightoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedextralightoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extralightitalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extralightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: expanded;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedextralightitalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedextralightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-light.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedlight.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedlight.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-lightoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-lightoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-lightoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-lightoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedlightoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedlightoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedlightoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedlightoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-lightitalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-lightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedlightitalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedlightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-regular.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extended.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extended.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-oblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-oblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-italic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendeditalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendeditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-medium.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedmedium.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedmedium.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-mediumoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-mediumoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-mediumoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-mediumoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedmediumoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedmediumoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedmediumoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedmediumoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-mediumitalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-mediumitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedmediumitalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedmediumitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-semibold.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedsemibold.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedsemibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-semiboldoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-semiboldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-semiboldoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-semiboldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedsemiboldoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedsemiboldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedsemiboldoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedsemiboldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-semibolditalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-semibolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedsemibolditalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedsemibolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-bold.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedbold.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedbold.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-boldoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-boldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-boldoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-boldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedboldoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedboldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedboldoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedboldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-bolditalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-bolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedbolditalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedbolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extrabold.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extrabold.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: expanded;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedextrabold.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedextrabold.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: normal;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extraboldoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extraboldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 800;
    font-stretch: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extraboldoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extraboldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: expanded;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedextraboldoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedextraboldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 800;
    font-stretch: expanded;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedextraboldoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedextraboldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: normal;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extrabolditalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extrabolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: expanded;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedextrabolditalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedextrabolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-heavy.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
    font-style: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedheavy.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedheavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: normal;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-heavyoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-heavyoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 900;
    font-stretch: normal;
    src: url('../woff2/Iosevka-custom/iosevka-custom-heavyoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-heavyoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
    font-style: oblique;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedheavyoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedheavyoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web Oblique';
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedheavyoblique.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedheavyoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: normal;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-heavyitalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-heavyitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
    font-style: italic;
    src: url('../woff2/Iosevka-custom/iosevka-custom-extendedheavyitalic.woff2') format('woff2'), url('../ttf/Iosevka-custom/iosevka-custom-extendedheavyitalic.ttf') format('truetype');
}
