@mixin base_dark {
  color: $fg-color-dark;
  background-color: $bg-color-dark;

  body {
    font-weight: 500;
  }

  ::selection {
    background: $muted-bg-color-dark;
  }
  a {
    color: $link-color-dark;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $main-fg-color-dark;

    &:hover .heading-link {
      visibility: visible;
    }

    .heading-link {
      font-weight: inherit;
      text-decoration: none;
      font-size: 80%;
      visibility: hidden;
    }

    .title-link {
      color: inherit;
      font-weight: inherit;
      text-decoration: none;
    }
  }

  hr {
    border-top: 1px dashed $gruvbox-gray-dark;
  }

  code {
    background-color: $alt-bg-color-dark;
    color: $fg-color-dark;
  }

  pre {
    code[data-lang]:not([data-lang=""])::before {
      color: $gruvbox-dark4-dark;
    }
    code[data-lang="shell"] .line::before {
      color: $gruvbox-dark4-dark;
    }
  }


  kbd {
    -moz-box-shadow:0 1px 0 $alt-bg-color-dark,0 0 0 2px $muted-bg-color-dark inset;
    -webkit-box-shadow:0 1px 0 $alt-bg-color-dark,0 0 0 2px $muted-bg-color-dark inset;
    background-color: $gruvbox-dark0-soft-dark;
    border:1px solid $main-bg-color-dark;
    box-shadow:0 2px 0 $alt-bg-color-dark,0 0 0 2px $gruvbox-dark3-dark inset;
    color: $main-fg-color-dark;
    text-shadow:0 1px 0 $muted-bg-color-dark;
  }


  pre {
    code {
      background-color: inherit;
      color: inherit;
    }
  }

  blockquote {
    background-color: #ffffff10;
    border-left: 3px solid $link-color-dark;
  }

  ul.list-tag{
    div.tags a {
      color: $link-color-dark;
    }
  }

  table td,
  table th {
    border: 2px solid $alt-fg-color-dark;
  }

  dl {
    background-color: $emph-bg-color-dark;
    box-shadow: inset 2px 3px 12px adjust-color($emph-bg-color-dark, $lightness: -50%);
  }
  :target {
    animation: blinker-dark 2s ease-out;
  }
  @keyframes blinker-dark {
    from {
      background-color: $gruvbox-bright-aqua;
    }
  }
  a:target::before{
    color: $main-fg-color-dark;
    background-color: $gruvbox-bright-aqua;
  }
  .dropcap {
    color: $link-color-dark;
    text-shadow: 5px 3px 3px adjust-color($emph-bg-color-dark, $lightness: -50%);
  }
}

body.colorscheme-dark {
  @include base_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include base_dark();
  }
}
