@mixin chroma-style_dark {

  .chroma, .highlight {
    /* Background */
    color: $gruvbox-light0-dark;
    background-color: $gruvbox-dark0-soft-dark;
    /* Other */                    .x       {  }
    /* Error */                    .err     {  }
    /* LineTableTD */              .lntd    { vertical-align: top; padding: 0; margin: 0; border: 0; }
    /* LineTable */                .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; } /* LineHighlight */            .hl      { display: block; width: 100%; background-color: $gruvbox-bg-alt-dark }
    /* LineNumbersTable */         .lnt     { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: $gruvbox-dark4-dark }
    /* LineNumbers */              .ln      { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: $gruvbox-dark4-dark; background-color: $gruvbox-dark1-dark }
    /* Keyword */                  .k       { color: $gruvbox-bright-red-dark }
    /* KeywordConstant */          .kc      { color: $gruvbox-bright-red-dark; font-weight: bold }
    /* KeywordDeclaration */       .kd      { color: $gruvbox-bright-red-dark }
    /* KeywordNamespace */         .kn      { color: $gruvbox-bright-red-dark; font-weight: bold }
    /* KeywordPseudo */            .kp      { color: $gruvbox-bright-red-dark }
    /* KeywordReserved */          .kr      { color: $gruvbox-bright-red-dark }
    /* KeywordType */              .kt      { color: $gruvbox-bright-red-dark; font-weight: bold }
    /* Name */                     .n       { color: $gruvbox-light0-dark }
    /* NameAttribute */            .na      { color: $gruvbox-bright-blue-dark }
    /* NameBuiltin */              .nb      { color: $gruvbox-bright-red-dark }
    /* NameBuiltinPseudo */        .bp      { color: $gruvbox-bright-blue-dark }
    /* NameClass */                .nc      { color: $gruvbox-bright-yellow-dark }
    /* NameConstant */             .no      { color: $gruvbox-bright-purple-dark }
    /* NameDecorator */            .nd      { color: $gruvbox-bright-blue-dark }
    /* NameEntity */               .ni      { color: $gruvbox-bright-blue-dark }
    /* NameException */            .ne      { color: $gruvbox-bright-blue-dark }
    /* NameFunction */             .nf      { color: $gruvbox-bright-yellow-dark }
    /* NameFunctionMagic */        .fm      { color: $gruvbox-bright-yellow-dark }
    /* NameLabel */                .nl      { color: $gruvbox-bright-blue-dark }
    /* NameNamespace */            .nn      { color: $gruvbox-light0-dark }
    /* NameOther */                .nx      { color: $gruvbox-bright-blue-dark }
    /* NameProperty */             .py      { color: $gruvbox-bright-blue-dark }
    /* NameTag */                  .nt      { color: $gruvbox-bright-blue-dark; font-weight: bold }
    /* NameVariable */             .nv      { color: $gruvbox-bright-blue-dark }
    /* NameVariableClass */        .vc      { color: $gruvbox-bright-blue-dark }
    /* NameVariableGlobal */       .vg      { color: $gruvbox-bright-blue-dark }
    /* NameVariableInstance */     .vi      { color: $gruvbox-bright-blue-dark }
    /* NameVariableMagic */        .vm      { color: $gruvbox-bright-blue-dark }
    /* Literal */                  .l       { color: $gruvbox-bright-green-dark }
    /* LiteralDate */              .ld      { color: $gruvbox-bright-green-dark }
    /* LiteralString */            .s       { color: $gruvbox-bright-green-dark }
    /* LiteralStringAffix */       .sa      { color: $gruvbox-bright-green-dark }
    /* LiteralStringBacktick */    .sb      { color: $gruvbox-bright-green-dark }
    /* LiteralStringChar */        .sc      { color: $gruvbox-bright-green-dark }
    /* LiteralStringDelimiter */   .dl      { color: $gruvbox-bright-green-dark }
    /* LiteralStringDoc */         .sd      { color: $gruvbox-bright-green-dark }
    /* LiteralStringDouble */      .s2      { color: $gruvbox-bright-green-dark }
    /* LiteralStringEscape */      .se      { color: $gruvbox-bright-green-dark }
    /* LiteralStringHeredoc */     .sh      { color: $gruvbox-bright-green-dark }
    /* LiteralStringInterpol */    .si      { color: $gruvbox-bright-green-dark }
    /* LiteralStringOther */       .sx      { color: $gruvbox-bright-green-dark }
    /* LiteralStringRegex */       .sr      { color: $gruvbox-bright-green-dark }
    /* LiteralStringSingle */      .s1      { color: $gruvbox-bright-green-dark }
    /* LiteralStringSymbol */      .ss      { color: $gruvbox-bright-green-dark }
    /* LiteralNumber */            .m       { color: $gruvbox-bright-purple-dark; font-weight: bold }
    /* LiteralNumberBin */         .mb      { color: $gruvbox-bright-purple-dark; font-weight: bold }
    /* LiteralNumberFloat */       .mf      { color: $gruvbox-bright-purple-dark; font-weight: bold }
    /* LiteralNumberHex */         .mh      { color: $gruvbox-bright-purple-dark; font-weight: bold }
    /* LiteralNumberInteger */     .mi      { color: $gruvbox-bright-purple-dark; font-weight: bold }
    /* LiteralNumberIntegerLong */ .il      { color: $gruvbox-bright-purple-dark; font-weight: bold }
    /* LiteralNumberOct */         .mo      { color: $gruvbox-bright-purple-dark; font-weight: bold }
    /* Operator */                 .o       { color: $gruvbox-light0-dark }
    /* OperatorWord */             .ow      { color: $gruvbox-light0-dark }
    /* Punctuation */              .p       { color: $gruvbox-delimiter-one-dark }
    /* Comment */                  .c       { color: $gruvbox-dark4-dark; font-style: italic }
    /* CommentHashbang */          .ch      { color: $gruvbox-dark4-dark; font-style: italic }
    /* CommentMultiline */         .cm      { color: $gruvbox-dark4-dark; font-style: italic }
    /* CommentSingle */            .c1      { color: $gruvbox-dark4-dark; font-style: italic }
    /* CommentSpecial */           .cs      { color: $gruvbox-dark4-dark; font-style: italic }
    /* CommentPreproc */           .cp      { color: $gruvbox-dark4-dark; font-style: italic }
    /* CommentPreprocFile */       .cpf     { color: $gruvbox-dark4-dark; font-style: italic }
    /* Generic */                  .g       { color: $gruvbox-bright-purple-dark }
    /* GenericDeleted */           .gd      { color: $gruvbox-bright-red-dark }
    /* GenericEmph */              .ge      { color: $gruvbox-bright-purple-dark }
    /* GenericError */             .gr      { color: $gruvbox-bright-purple-dark }
    /* GenericHeading */           .gh      { color: $gruvbox-bright-purple-dark }
    /* GenericInserted */          .gi      { color: $gruvbox-bright-green-dark }
    /* GenericOutput */            .go      { color: $gruvbox-bright-purple-dark }
    /* GenericPrompt */            .gp      { color: $gruvbox-bright-purple-dark }
    /* GenericStrong */            .gs      { color: $gruvbox-bright-purple-dark }
    /* GenericSubheading */        .gu      { color: $gruvbox-bright-orange-dark }
    /* GenericTraceback */         .gt      { color: $gruvbox-bright-purple-dark }
    /* GenericUnderline */         .gl      { color: $gruvbox-bright-purple-dark }
    /* TextWhitespace */           .w       {  }
  }


  /* Misc */
  /* The emerging W3C standard
   that is currently Firefox-only */
  * {
    scrollbar-color: $gruvbox-dark3-dark $gruvbox-dark0-soft-dark;
    scrollbar-width: thin;
  }

  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: $gruvbox-dark3-dark;
  }
  *::-webkit-scrollbar-thumb {
    background-color: $gruvbox-dark0-soft-dark;
    border-radius: 20px;
    border: 3px solid $gruvbox-dark3-dark;
  }

  /* :-webkit-scrollbar { */
  /*   width: 20px; */
  /* } */

  /* /\* Track *\/ */
  /* ::-webkit-scrollbar-track { */
  /*   box-shadow: inset 0 0 5px grey;  */
  /*   border-radius: 10px; */
  /* } */

  /* /\* Handle *\/ */
  /* ::-webkit-scrollbar-thumb { */
  /*   background: red !important;  */
  /*   border-radius: 10px; */
  /* } */

  /* /\* Handle on hover *\/ */
  /* ::-webkit-scrollbar-thumb:hover { */
  /*   background: #b30000;  */
  /* } */
}

body.colorscheme-dark {
  @include chroma-style_dark()
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include chroma-style_dark()
  }
}
