
.chroma, .highlight {
  /* Background */
  color: $gruvbox-light0;
  background-color: $gruvbox-dark0-soft;
  /* Other */                    .x       {  }
  /* Error */                    .err     {  }
  /* LineTableTD */              .lntd    { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */                .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */            .hl      { display: block; width: 100%; background-color: $gruvbox-bg-alt }
  /* LineNumbersTable */         .lnt     { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: $gruvbox-dark4 }
  /* LineNumbers */              .ln      { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: $gruvbox-dark4; background-color: $gruvbox-dark1 }
  /* Keyword */                  .k       { color: $gruvbox-bright-red }
  /* KeywordConstant */          .kc      { color: $gruvbox-bright-red; font-weight: bold }
  /* KeywordDeclaration */       .kd      { color: $gruvbox-bright-red }
  /* KeywordNamespace */         .kn      { color: $gruvbox-bright-red; font-weight: bold }
  /* KeywordPseudo */            .kp      { color: $gruvbox-bright-red }
  /* KeywordReserved */          .kr      { color: $gruvbox-bright-red }
  /* KeywordType */              .kt      { color: $gruvbox-bright-red; font-weight: bold }
  /* Name */                     .n       { color: $gruvbox-light0 }
  /* NameAttribute */            .na      { color: $gruvbox-bright-blue }
  /* NameBuiltin */              .nb      { color: $gruvbox-bright-red }
  /* NameBuiltinPseudo */        .bp      { color: $gruvbox-bright-blue }
  /* NameClass */                .nc      { color: $gruvbox-bright-yellow }
  /* NameConstant */             .no      { color: $gruvbox-bright-purple }
  /* NameDecorator */            .nd      { color: $gruvbox-bright-blue }
  /* NameEntity */               .ni      { color: $gruvbox-bright-blue }
  /* NameException */            .ne      { color: $gruvbox-bright-blue }
  /* NameFunction */             .nf      { color: $gruvbox-bright-yellow }
  /* NameFunctionMagic */        .fm      { color: $gruvbox-bright-yellow }
  /* NameLabel */                .nl      { color: $gruvbox-bright-blue }
  /* NameNamespace */            .nn      { color: $gruvbox-light0 }
  /* NameOther */                .nx      { color: $gruvbox-bright-blue }
  /* NameProperty */             .py      { color: $gruvbox-bright-blue }
  /* NameTag */                  .nt      { color: $gruvbox-bright-blue; font-weight: bold }
  /* NameVariable */             .nv      { color: $gruvbox-bright-blue }
  /* NameVariableClass */        .vc      { color: $gruvbox-bright-blue }
  /* NameVariableGlobal */       .vg      { color: $gruvbox-bright-blue }
  /* NameVariableInstance */     .vi      { color: $gruvbox-bright-blue }
  /* NameVariableMagic */        .vm      { color: $gruvbox-bright-blue }
  /* Literal */                  .l       { color: $gruvbox-bright-green }
  /* LiteralDate */              .ld      { color: $gruvbox-bright-green }
  /* LiteralString */            .s       { color: $gruvbox-bright-green }
  /* LiteralStringAffix */       .sa      { color: $gruvbox-bright-green }
  /* LiteralStringBacktick */    .sb      { color: $gruvbox-bright-green }
  /* LiteralStringChar */        .sc      { color: $gruvbox-bright-green }
  /* LiteralStringDelimiter */   .dl      { color: $gruvbox-bright-green }
  /* LiteralStringDoc */         .sd      { color: $gruvbox-bright-green }
  /* LiteralStringDouble */      .s2      { color: $gruvbox-bright-green }
  /* LiteralStringEscape */      .se      { color: $gruvbox-bright-green }
  /* LiteralStringHeredoc */     .sh      { color: $gruvbox-bright-green }
  /* LiteralStringInterpol */    .si      { color: $gruvbox-bright-green }
  /* LiteralStringOther */       .sx      { color: $gruvbox-bright-green }
  /* LiteralStringRegex */       .sr      { color: $gruvbox-bright-green }
  /* LiteralStringSingle */      .s1      { color: $gruvbox-bright-green }
  /* LiteralStringSymbol */      .ss      { color: $gruvbox-bright-green }
  /* LiteralNumber */            .m       { color: $gruvbox-bright-purple; font-weight: bold }
  /* LiteralNumberBin */         .mb      { color: $gruvbox-bright-purple; font-weight: bold }
  /* LiteralNumberFloat */       .mf      { color: $gruvbox-bright-purple; font-weight: bold }
  /* LiteralNumberHex */         .mh      { color: $gruvbox-bright-purple; font-weight: bold }
  /* LiteralNumberInteger */     .mi      { color: $gruvbox-bright-purple; font-weight: bold }
  /* LiteralNumberIntegerLong */ .il      { color: $gruvbox-bright-purple; font-weight: bold }
  /* LiteralNumberOct */         .mo      { color: $gruvbox-bright-purple; font-weight: bold }
  /* Operator */                 .o       { color: $gruvbox-light0 }
  /* OperatorWord */             .ow      { color: $gruvbox-light0 }
  /* Punctuation */              .p       { color: $gruvbox-delimiter-one }
  /* Comment */                  .c       { color: $gruvbox-dark4; font-style: italic }
  /* CommentHashbang */          .ch      { color: $gruvbox-dark4; font-style: italic }
  /* CommentMultiline */         .cm      { color: $gruvbox-dark4; font-style: italic }
  /* CommentSingle */            .c1      { color: $gruvbox-dark4; font-style: italic }
  /* CommentSpecial */           .cs      { color: $gruvbox-dark4; font-style: italic }
  /* CommentPreproc */           .cp      { color: $gruvbox-dark4; font-style: italic }
  /* CommentPreprocFile */       .cpf     { color: $gruvbox-dark4; font-style: italic }
  /* Generic */                  .g       { color: $gruvbox-bright-purple }
  /* GenericDeleted */           .gd      { color: $gruvbox-bright-red }
  /* GenericEmph */              .ge      { color: $gruvbox-bright-purple }
  /* GenericError */             .gr      { color: $gruvbox-bright-purple }
  /* GenericHeading */           .gh      { color: $gruvbox-bright-purple }
  /* GenericInserted */          .gi      { color: $gruvbox-bright-green }
  /* GenericOutput */            .go      { color: $gruvbox-bright-purple }
  /* GenericPrompt */            .gp      { color: $gruvbox-bright-purple }
  /* GenericStrong */            .gs      { color: $gruvbox-bright-purple }
  /* GenericSubheading */        .gu      { color: $gruvbox-bright-orange }
  /* GenericTraceback */         .gt      { color: $gruvbox-bright-purple }
  /* GenericUnderline */         .gl      { color: $gruvbox-bright-purple }
  /* TextWhitespace */           .w       {  }
}
