@mixin chroma-style_dark {
  /* Background */ .chroma { color: $gruvbox-gray-dark;
                             background-color: $gruvbox-dark0-soft-dark }
  /* Other */ .chroma .x {  }
  /* Error */ .chroma .err {  }
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%; background-color: $gruvbox-bg-alt-dark }
  /* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: $gruvbox-dark4-dark }
  /* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: $gruvbox-dark4-dark; background-color: $gruvbox-dark1-dark }
  /* Keyword */ .chroma .k { color: $gruvbox-bright-red-dark }
  /* KeywordConstant */ .chroma .kc { color: $gruvbox-bright-red-dark; font-weight: bold }
  /* KeywordDeclaration */ .chroma .kd { color: $gruvbox-bright-red-dark }
  /* KeywordNamespace */ .chroma .kn { color: $gruvbox-bright-red-dark; font-weight: bold }
  /* KeywordPseudo */ .chroma .kp { color: $gruvbox-bright-red-dark }
  /* KeywordReserved */ .chroma .kr { color: $gruvbox-bright-red-dark }
  /* KeywordType */ .chroma .kt { color: $gruvbox-bright-red-dark; font-weight: bold }
  /* Name */ .chroma .n { color: $gruvbox-light0-dark }
  /* NameAttribute */ .chroma .na { color: $gruvbox-bright-blue-dark }
  /* NameBuiltin */ .chroma .nb { color: $gruvbox-bright-red-dark }
  /* NameBuiltinPseudo */ .chroma .bp { color: $gruvbox-bright-blue-dark }
  /* NameClass */ .chroma .nc { color: $gruvbox-bright-yellow-dark }
  /* NameConstant */ .chroma .no { color: $gruvbox-bright-purple-dark }
  /* NameDecorator */ .chroma .nd { color: $gruvbox-bright-blue-dark }
  /* NameEntity */ .chroma .ni { color: $gruvbox-bright-blue-dark }
  /* NameException */ .chroma .ne { color: $gruvbox-bright-blue-dark }
  /* NameFunction */ .chroma .nf { color: $gruvbox-bright-yellow-dark }
  /* NameFunctionMagic */ .chroma .fm { color: $gruvbox-bright-yellow-dark }
  /* NameLabel */ .chroma .nl { color: $gruvbox-bright-blue-dark }
  /* NameNamespace */ .chroma .nn { color: $gruvbox-light0-dark }
  /* NameOther */ .chroma .nx { color: $gruvbox-bright-blue-dark }
  /* NameProperty */ .chroma .py { color: $gruvbox-bright-blue-dark }
  /* NameTag */ .chroma .nt { color: $gruvbox-bright-blue-dark; font-weight: bold }
  /* NameVariable */ .chroma .nv { color: $gruvbox-bright-blue-dark }
  /* NameVariableClass */ .chroma .vc { color: $gruvbox-bright-blue-dark }
  /* NameVariableGlobal */ .chroma .vg { color: $gruvbox-bright-blue-dark }
  /* NameVariableInstance */ .chroma .vi { color: $gruvbox-bright-blue-dark }
  /* NameVariableMagic */ .chroma .vm { color: $gruvbox-bright-blue-dark }
  /* Literal */ .chroma .l { color: $gruvbox-bright-green-dark }
  /* LiteralDate */ .chroma .ld { color: $gruvbox-bright-green-dark }
  /* LiteralString */ .chroma .s { color: $gruvbox-bright-green-dark }
  /* LiteralStringAffix */ .chroma .sa { color: $gruvbox-bright-green-dark }
  /* LiteralStringBacktick */ .chroma .sb { color: $gruvbox-bright-green-dark }
  /* LiteralStringChar */ .chroma .sc { color: $gruvbox-bright-green-dark }
  /* LiteralStringDelimiter */ .chroma .dl { color: $gruvbox-bright-green-dark }
  /* LiteralStringDoc */ .chroma .sd { color: $gruvbox-bright-green-dark }
  /* LiteralStringDouble */ .chroma .s2 { color: $gruvbox-bright-green-dark }
  /* LiteralStringEscape */ .chroma .se { color: $gruvbox-bright-green-dark }
  /* LiteralStringHeredoc */ .chroma .sh { color: $gruvbox-bright-green-dark }
  /* LiteralStringInterpol */ .chroma .si { color: $gruvbox-bright-green-dark }
  /* LiteralStringOther */ .chroma .sx { color: $gruvbox-bright-green-dark }
  /* LiteralStringRegex */ .chroma .sr { color: $gruvbox-bright-green-dark }
  /* LiteralStringSingle */ .chroma .s1 { color: $gruvbox-bright-green-dark }
  /* LiteralStringSymbol */ .chroma .ss { color: $gruvbox-bright-green-dark }
  /* LiteralNumber */ .chroma .m { color: $gruvbox-bright-purple-dark; font-weight: bold }
  /* LiteralNumberBin */ .chroma .mb { color: $gruvbox-bright-purple-dark; font-weight: bold }
  /* LiteralNumberFloat */ .chroma .mf { color: $gruvbox-bright-purple-dark; font-weight: bold }
  /* LiteralNumberHex */ .chroma .mh { color: $gruvbox-bright-purple-dark; font-weight: bold }
  /* LiteralNumberInteger */ .chroma .mi { color: $gruvbox-bright-purple-dark; font-weight: bold }
  /* LiteralNumberIntegerLong */ .chroma .il { color: $gruvbox-bright-purple-dark; font-weight: bold }
  /* LiteralNumberOct */ .chroma .mo { color: $gruvbox-bright-purple-dark; font-weight: bold }
  /* Operator */ .chroma .o { color: $gruvbox-light0-dark }
  /* OperatorWord */ .chroma .ow { color: $gruvbox-light0-dark }
  /* Punctuation */ .chroma .p { color: $gruvbox-delimiter-one-dark }
  /* Comment */ .chroma .c { color: $gruvbox-dark4-dark; font-style: italic }
  /* CommentHashbang */ .chroma .ch { color: $gruvbox-dark4-dark; font-style: italic }
  /* CommentMultiline */ .chroma .cm { color: $gruvbox-dark4-dark; font-style: italic }
  /* CommentSingle */ .chroma .c1 { color: $gruvbox-dark4-dark; font-style: italic }
  /* CommentSpecial */ .chroma .cs { color: $gruvbox-dark4-dark; font-style: italic }
  /* CommentPreproc */ .chroma .cp { color: $gruvbox-dark4-dark; font-style: italic }
  /* CommentPreprocFile */ .chroma .cpf { color: $gruvbox-dark4-dark; font-style: italic }
  /* Generic */ .chroma .g { color: $gruvbox-bright-purple-dark }
  /* GenericDeleted */ .chroma .gd { color: $gruvbox-bright-purple-dark }
  /* GenericEmph */ .chroma .ge { color: $gruvbox-bright-purple-dark }
  /* GenericError */ .chroma .gr { color: $gruvbox-bright-purple-dark }
  /* GenericHeading */ .chroma .gh { color: $gruvbox-bright-purple-dark }
  /* GenericInserted */ .chroma .gi { color: $gruvbox-bright-purple-dark }
  /* GenericOutput */ .chroma .go { color: $gruvbox-bright-purple-dark }
  /* GenericPrompt */ .chroma .gp { color: $gruvbox-bright-purple-dark }
  /* GenericStrong */ .chroma .gs { color: $gruvbox-bright-purple-dark }
  /* GenericSubheading */ .chroma .gu { color: $gruvbox-bright-purple-dark }
  /* GenericTraceback */ .chroma .gt { color: $gruvbox-bright-purple-dark }
  /* GenericUnderline */ .chroma .gl { color: $gruvbox-bright-purple-dark }
  /* Text */ .chroma {  }
  /* TextWhitespace */ .chroma .w {  }


  /* Misc */
  /* The emerging W3C standard
   that is currently Firefox-only */
  * {
    scrollbar-color: $gruvbox-dark3-dark $gruvbox-dark0-soft-dark;
    scrollbar-width: thin;
  }

  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: $gruvbox-dark3-dark;
  }
  *::-webkit-scrollbar-thumb {
    background-color: $gruvbox-dark0-soft-dark;
    border-radius: 20px;
    border: 3px solid $gruvbox-dark3-dark;
  }

  /* :-webkit-scrollbar { */
  /*   width: 20px; */
  /* } */

  /* /\* Track *\/ */
  /* ::-webkit-scrollbar-track { */
  /*   box-shadow: inset 0 0 5px grey;  */
  /*   border-radius: 10px; */
  /* } */

  /* /\* Handle *\/ */
  /* ::-webkit-scrollbar-thumb { */
  /*   background: red !important;  */
  /*   border-radius: 10px; */
  /* } */

  /* /\* Handle on hover *\/ */
  /* ::-webkit-scrollbar-thumb:hover { */
  /*   background: #b30000;  */
  /* } */
}

body.colorscheme-dark {
  @include chroma-style_dark()
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include chroma-style_dark()
  }
}
