@mixin content_dark {
  .content {
    article {
      details {
        background-color: #ffffff10;
        border-left: 3px solid $link-color-dark;
        summary {
          &:hover {
            color: $link-color-dark;
          }
        }
      }

      > *:not(header){
        a {
          &:hover{
            color: $link-color-dark;
          }
        }
      }
      h2, h3, h4 {
        &::before {
          color: lighten($bg-color-dark, 20%);
        }
      }
      > div {
        img, iframe {
          box-shadow: 5px 6px 10px adjust-color($emph-bg-color-dark, $lightness: -50%);
        }
      }
    }
    .list {
      ul {
        li {
          .title {
            color: $fg-color-dark;

            &:hover,
            &:focus {
              color: $link-color-dark;
            }
          }
        }
      }
    }

    .centered {
      .about {
        ul {
          li {
            a {
              color: $fg-color-dark;
              &:hover,
              &:focus {
                color: $link-color-dark;
              }
            }
          }
        }
      }
    }
    .post-meta {
      .tags {
        .tag {
          background-color: $alt-bg-color-dark;
          a {
            color: $fg-color-dark;
            &:hover {
              color: $link-color-dark;
            }
          }
        }
      }
    }
  }
}

body.colorscheme-dark {
  @include content_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include content_dark();
  }
}
