.float-container {
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  position: fixed;
  font-size: 1.6em;
  width: 1em;
  a {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    color: $alt-fg-color;
    background-color: $alt-bg-color;
    border-radius: 0.2rem;
    opacity: 50%;
    transition: all 0.25s ease-in;
    &::before {
      display: block;
      position: absolute;
      text-align: right;
      margin-left: -8.5rem;
      font-size: 1.6rem;
    }
    &:hover, &focus {
      opacity: 100%;
      color: $link-color;
      box-shadow: 1px 1px 3px adjust-color($link-color, $lightness: -10%);
      &:before {
        content: "Jump to top";
      }
      &#dark-mode-toggle {
        color: $gruvbox-bright-blue;
        box-shadow: 1px 1px 3px adjust-color($gruvbox-bright-blue, $lightness: -10%);
        &:before {
          content: "Dark mode?";
          margin-left: -8.5rem;
        }
      }
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
