@mixin float_dark {
  .float-container {
    a {
      color: $alt-fg-color-dark;
      background-color: $alt-bg-color-dark;

      &:hover, &focus {
        color: $link-color-dark;
        box-shadow: 1px 1px 3px adjust-color($link-color-dark, $lightness: -20%);
        &#dark-mode-toggle {
          color: $gruvbox-bright-yellow-dark;
          box-shadow: 1px 1px 3px adjust-color($gruvbox-bright-yellow-dark, $lightness: -20%);
          &:before {
            @media (min-width: 768px) {
              content: "Light mode?";
            }
            margin-left: -8.5rem;
          }
        }
      }
    }
  }
}

body.colorscheme-dark {
  @include float_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include float_dark();
  }
}
