@mixin notebook_dark {
    div.jp-InputPrompt {
        color: lighten(#22863A, 10%);
    }
    div.jp-OutputPrompt {
        color: lighten($gruvbox-bright-red-dark, 10%);
    }
    .jp-RenderedSVG {
        svg {
          filter: invert(160%) hue-rotate(180deg) sepia(1%);
        }
      }
}

body.colorscheme-dark {
  @include notebook_dark()
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include notebook_dark()
  }
}
