@mixin taxonomies_dark {
  .taxonomy {
    .taxonomy-element {
      background-color: $alt-bg-color-dark;

      a {
        color: $fg-color-dark;
      }
      a:active {
        color: $fg-color-dark;
      }
    }
  }
}

body.colorscheme-dark {
  @include taxonomies_dark()
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include taxonomies_dark()
  }
}
