@mixin tufte-margin_dark {
    figcaption::before{
        border-top: 2px dotted $gruvbox-bright-blue-dark;
        @media (max-width: 768px) {
          border-top: none;
        }
      }
    .sidenote-number::after,
    .sidenote::before,
    label.margin-toggle i::before {
        color: $gruvbox-bright-blue-dark;
      }

    .epigraph blockquote {
        background-color: $main-bg-color-dark !important;
      }
}


body.colorscheme-dark {
  @include tufte-margin_dark()
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include tufte-margin_dark()
  }
}
