<!-- Obtain all posts with tag -->
{{ $tag := .Get "tag" }}
<ul class='list-tag'>
    {{ range $ind,$art := .Site.Pages.ByDate }}
        {{ if in $art.Params.tags $tag }}
        <li>
            {{ if eq $art.Permalink $.Page.Permalink}}
                {{ $art.Params.title }}
            {{ else }}
                {{ $notetags := $art.Params.tags | symdiff (intersect $art.Params.tags (slice $tag)) }}
                <a href="{{ $art.Permalink }}">
                    {{ $art.Params.title }}
                    {{ if in $art.Params.tags "review" }}
                    <i class="fa fa-book review" aria-hidden="true"></i>
                    {{ end}}
                </a>
                <span>{{ with $notetags }}{{ partial "taxonomy/tags.html" . }}{{ end }}</span>
            {{ end }}
        </li>
        {{ end }}
    {{ end }}
</ul>
