<!-- Obtain all posts with tag -->
{{ $tag := .Get "tag" }}
<ul class='list-tag'>
    {{ range $ind,$art := .Site.Pages.ByDate }}
        {{ if in $art.Params.tags $tag }}
        <li>
            {{ if eq $art.Permalink $.Page.Permalink}}
                {{ $art.Params.title }}
            {{ else }}
                {{ $notetags := $art.Params.tags | symdiff (intersect $art.Params.tags (slice $tag)) }}
                <span class='marginnote'>{{ with $notetags }}{{ partial "taxonomy/tags.html" . }}{{ end }}</span>
                <a href="{{ $art.Permalink }}">{{ $art.Params.title }}</a>
            {{ end }}
            {{ if in $art.Params.tags "review" }}
                <i class="fa fa-book review" aria-hidden="true"></i>
            {{ end}}
        </li>
        {{ end }}
    {{ end }}
</ul>
